/* Styles for the card component */
.card {
    background-color: #E0C4F2;
    border-radius: 3px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    user-select: none;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  