* {
  font-family: 'Poppins';
  margin: 0;
}

.navbar {
  display: flex;
  flex-direction: column;
  background-color: #E8D7F3;
  align-items: flex-start;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px; 
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.logo {
  width: 40px; /* Set an appropriate width for the logo */
}

.navbar-left {
  background-color: #E8D7F3;
  display: flex; /* Ensure navbar-left items are in a row */
  flex-direction: row;
  align-items: center; /* Vertically align items in navbar-left */
  width: 100%;
  margin: 20px;
  margin-left: 0px;
}

.navbar-link {
  display: flex; /* Make the <a> element a flex container */
  align-items: center; /* Vertically align the image and text */
  font-size: 36px;
  font-weight: 500;
  color: black;
  text-decoration: none; /* Remove underline from the link */
  padding: 10px;
  line-height: 1.2; /* Adjust spacing inside the link */
  gap: 10px; /* Add space between the logo and text */
  background-color: #E8D7F3;
}

.navbar-center .nav-links {
  font-size: 18px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: #E8D7F3;
}
.navbar-center .nav-links li {
  margin-bottom: 1rem;
   background-color: #E8D7F3;
}
.navbar-center .nav-links a {
  background-color: #E8D7F3;
  color: black;
  text-decoration: none;
  padding: 0.5rem;
  background-color:transparent;
}

.navbar-right {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.nav-links {
  background-color:transparent;
}
.navbar-right .cart-icon,
.navbar-right .user-icon {
  color: black;
  text-decoration: none;
  margin-left: 1rem;
  position: relative;
}

.navbar-logos {
  width: 25px;
  height: 25px;
}

.home {
  display: flex;
  flex-direction: row;
}

.home a {
  display: flex;
  align-items: row;
  gap: 12px;
}

.search {
  display: flex;
  flex-direction: row;
}

.search a {
  display: flex;
  align-items: row;
  gap: 12px;
}

.explore {
  display: flex;
  flex-direction: row;
}

.explore a {
  display: flex;
  align-items: row;
  gap: 12px;
}

.match {
  display: flex;
  flex-direction: row;
}

.projects a {
  display: flex;
  align-items: row;
  gap: 12px;
}

.projects {
  display: flex;
  flex-direction: row;
}

.match a {
  display: flex;
  align-items: row;
  gap: 12px;
}

.rewards {
  display: flex;
  flex-direction: row;
}

.rewards a {
  display: flex;
  align-items: row;
  gap: 12px;
}


.navbar-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  padding-top: 1rem;
  border-top: 1px solid #ddd; /* Optional divider */
}

.bottom-link {
  text-decoration: none;
  color: black;
  font-size: 18px;
  margin: 0.5rem 0;
  transition: color 0.3s ease;
}

.bottom-link:hover {
  color: #674188;
}
